<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    
    <h1>First Page</h1>

    <!-- <%- -%> we use this tag in EJS to write JS code inside the template; -->
    <div>
        <%- Math.random() -%> <!-- this expression will print on the page a random value everytime we refresh the page. -->
    </div>
    

</body>
</html>